/* RESET */
p {
  margin: 0;
}


/*MAIN PAGE */

#layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}

#header {
  background-color:lightgrey;
  width: 100%;
  flex-basis: 50px;
  display: flex;
  justify-content: space-around;
}

#content {
  background-color: whitesmoke;
  flex-grow: 2;
  width: 100%;
  display: flex;
}

#footer {
  background-color:darkgrey;
  width: 100%;
  flex-basis: 50px;
}


.overlay {
  position: absolute;
  top:0; 
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(90,90,90,0.6);
}
